<div class="profile"><img src="../../../assets/profile.png" alt="default user">
    <h3>User Info:</h3>
    <ng-container *ngIf="(currentUser$ | async) as currentUser">
        <ng-container *ngIf="!(isEditClicked$ | async)">
            <div class="flex">
                <p>Username: </p>
                <p>{{currentUser.username}}</p>
            </div>
            <div class="flex">
                <p>Email: </p>
                <p>{{currentUser.email}}</p>
            </div>
            <div class="flex">
                <p>Phone: </p>
                <p>{{currentUser.tel}}</p>
            </div>
            <button class="edit-button" (click)="enterEditMode(currentUser)">Edit</button>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="isEditClicked$ | async">
        <form #editProfileForm="ngForm" (ngSubmit)="updateProfile()">
            <div class="flex">
                <p>Username: </p>
                <input type="text" name="username" id="username" ngModel value="Johny" required minlength="5">
            </div>
            <div class="flex">
                <p>Email: </p>
                <input type="email" name="email" id="email" ngModel value="john.doe@gmail.com" required emailValidator>
            </div>
            <div class="flex">
                <p>Phone: </p>
                <div>
                    <select name="select-tel" id="select-tel" class="tel">
                        <option value="00359">+359</option>
                    </select>
                    <input type="text" name="tel" id="tel" value="885 888 888">
                </div>
            </div>
            <button class="red-button" type="button" (click)="updateProfile()">Cancel</button>
            <button class="green-button" type="submit" [disabled]="editProfileForm.invalid">Save</button>
        </form>
    </ng-container>
</div>