<div class="new-theme-border">
    <div class="header-background">
        <span>New Theme</span>
    </div>
    <form #newTheme="ngForm" (ngSubmit)="createNewTheme(newTheme)">
        <div class="new-theme-title">
            <label for="themeName">Title <span class="red">*</span></label>
            <input type="text" #themeName="ngModel" name="themeName" ngModel id="themeName" required minlength="5">
            <ng-container *ngIf="themeName.touched && themeName.invalid">
                <p *ngIf="themeName.errors['required']" class="error">
                    Theme name is required.
                </p>
                <p *ngIf="themeName.errors['minlength']" class="error">
                    Theme name must be at least 5 characters long.
                </p>
            </ng-container>
        </div>
        <div class="new-theme-content">
            <label for="postText">Post <span class="red">*</span></label>
            <textarea type="text" #themeText="ngModel" name="postText" ngModel id="postText" rows="8"
                class="height" required minlength="10"></textarea>
            <ng-container *ngIf="themeText.touched && themeText.invalid">
                <p *ngIf="themeText.errors['required']" class="error">
                    The field with your post is required.
                </p>
                <p *ngIf="themeText.errors['minlength']" class="error">
                    Post must be at least 10 characters long.
                </p>
            </ng-container>
        </div>
        <div class="new-theme-buttons">
            <button type="button" class="cancel" (click)="navigateToHome()">Cancel</button>
            <button class="public" [disabled]="newTheme.invalid">Post</button>
        </div>

    </form>
</div>